body{
    background-color: rgba(175, 201, 239, 0.63);
 }
 
 
 .navbar{
    background-color: rgb(8, 8, 9);
    height:110px;
    position:relative;
    
 }
 
 .f0{
     position: absolute ;
     top:43px;
     left:650px
 }
 
 .fa{
    position:relative;
    }

 .box1{
    background-color: rgb(11, 11, 19);
    height: 455px;
    width:290px;
    position: relative;
    top:59px;
    right:33px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
 }
 .box2{
    background-color: rgb(11, 11, 19);
    height: 39px;
    width:630px;
    position: relative;
    top:59px;
    right: 175px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
      
 }
 p{
    color:beige;
    position: absolute;
    top:9px;
    left:15px
 }
 .box3{
    background-color: rgb(11, 11, 19);
    height: 120px;
    width:220px;
    position: absolute;
    top:170px;
   right:570px;
   border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
     
 }
 .box4{
    background-color:  rgb(11, 11, 19);
    height: 120px;
    width:220px;
    position: relative;
    top:130px;
    left:50px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
   
     
 }
 .box5{
    background-color: rgb(11, 11, 19);
    height: 120px;
    width:220px;
    position:absolute;
    top:170px;
    left:350px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
   
     
 }
 .box6{
    background-color:  rgb(11, 11, 19);
    height: 140px;
    width:800px;
    position: relative;
    top:200px;
    right :240px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
   
     
 }







